@{
    ViewBag.Title = "About the project";
}
<!--<h2>@ViewBag.Title.</h2>-->
<h3>@ViewBag.Message</h3>

<p>The project is designed for helping to find and gathered together all members of your famile; 
    to keep as much information as it possible about your relatives; 
    to safe a hystory of your family to your descendants; 
    to illustrate whole you family on one helpful picture: Family Tree.</p>
