@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>-->
<h3>@ViewBag.Message</h3>

<address>
    <strong>Phone:</strong><br />
    <abbr title="Phone">Minsk:  +375-29-806-7292</abbr><br />
    <abbr title="Phone">Moscow: +7-926-840-5134</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nukarnov@gmail.com">nukarnov@gmail.com</a><br />
</address>